body{
  background-color: #080808 !important;
  font-family: 'Times New Roman', Times, serif;
}
.blackbg{
    background-color: #080808 !important;
}
.font7rem{
    font-size: 7rem;
    line-height: initial;
}
.bigimg{
    

    background-image: url("C:\Users\Soham Waglekar\Desktop\ColgProject\legalproject\src\assets\img\yellowbg.png");
      object-fit: fill;
      background-size: 100% 100px;
      background-repeat: repeat-y;

}
.navbar-light .navbar-brand {
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 14px !important;
    color: #fff !important;
  }
  .navbar-light .navbar-nav .nav-link{
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 14px !important;
    color: #fff !important;
  }
  .text100{
font-size: 100px;
  letter-spacing: 10px;
  }
  .textyellow{
    color: rgb(254 240 138);
  }
  .bgyellow{
      background-color: rgb(254 240 138);;
  }
p{
    margin-bottom: 0 !important;
}
.accordionbox{
    border-bottom: 2px solid #606f7b !important;
}
.accordionboxcard{
   border: none !important;
}
.bordernavbar{
  border-bottom: 1px solid rgb(254 240 138);
}
.gridimages{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

}
.aboutusbookingbox{
  position: sticky;
  top: 10px;
}
.rightborder-on-signup{
border-right: 4px solid rgb(254 240 138);
height: 40rem;
}
.yellowimg{
  background-image: url("C:\Users\Soham Waglekar\Desktop\ColgProject\legalproject\src\assets\img\yellowline.webp");
  object-fit: fill;
  background-size: 100% 95px;
    background-repeat: no-repeat;
}